doctype html
html
  include common/_head
  body.body
    include common/mixins
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
    <![endif]-->
    header.header
      .log-in-button
        a.log-in-button__link(href="#") Авторизоваться
    .wrapper.flip-container
      .welcome-box__flipper.flipper
        .welcome-box.front
          .welcome-box__item
            .welcome-box__photo_round
              img.welcome-box__img(src="/assets/img/welcome-face.jpg", alt="Фото Гущиной Марии")
          h3.welcome-box__name Мария Гущина
          h4.welcome-box__site Личный сайт веб разработчика
          .welcome-box__socials
            include common/socials
          - var items = [["Мои работы", "pages/works.html"], ["Обо мне", "pages/personality.html"], ["Блог", "pages/blog.html"]]
          + list(items, "welcome-box-menu")
        include common/logIn
    footer.footer © Мария Гущина | создано с любовью в LoftSchool | 2016