doctype html
html(lang="ru")
  include common/_head
  body.body
    include common/_mixins
    .wrapper
      include common/preloader_box
      block header
      block article
    include common/footer_box
