/*triangles-header-of-about-page*/

.about-me {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.about-me__triangles {
  display: flex;
  width: 100%; //TODO сделать 100vw для tablet, phone
  .about-bg-left__svg,
  .about-bg-right__svg {
    width: 50vw;
  }
  .about-bg-left__svg {
    fill: #f2f0e8;
  }
  .about-bg-right__svg {
    fill: #f4f5f0;
  }
}

/*left-side*/

.about-me.container {
  display: flex;
  flex-direction: row;
  .about-me__description {
    background-color: #f2f0e8;
    display: flex;
    align-items: center;
  }
  .about-me__skills {
    background-color: #f4f5f0;
  }
  .about-me__description,
  .about-me__skills {
    width: 50vw;
    display: flex;
    flex-direction: column;
  }
}

.description__title .title__svg {
  fill: #1056d1;
  opacity: .1;
  width: 195px;
  height: 140px;
  transform-origin: 40px 45px;
  transform: rotate(-170deg);
}

.description__title .title__text {
  font: 40pt 'Sansus Regular';
  color: $title-color;
}

.description__img{
  width: 420px;
  height: 390px;
  margin: 35px 0 5px 0;
}

.description__sub-title .who-i-am {
    width: 80px;
    margin: auto;
    padding: 20px 0;
    color: $title-color;
    font: 25pt 'Sansus Regular';
    &:after {
      width: 80px;
      background-color: $title-color;
      padding: 0 0px;
    }
}

.description__text {
  margin:  0 120px;
  .text__data{
    font: 12pt/1.5 'Roboto Regular';
    margin-bottom: 2em;
    color:  $title-color;
  }
}

/*right-side*/

.about-me__skills {
  display: flex;
  flex-direction: column;
}

.skills__title .text {
  text-align: center;
  width: 300px;
  margin: auto;
  padding: 20px 0;
  color: $title-color;
  font: 25pt 'Sansus Regular';
  &:after {
    width: 80px;
    background-color: $title-color;
    padding: 0 0;
  }
}

.description {
  font: 12pt/1.5 'Roboto Regular';
  color: $title-color;
  margin-left: 45px;
}

.map__google-map {
  height: calc(100vh + 200px); //$footer-height-pages = 200px
  margin-bottom: -$footer-height-pages;

}

.map {
  position: relative;
}

.map__contacts {
  position: absolute;
  top: 50vh; //из-за отступа!
  left: 50%;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  background-color: rgba(#fff, .7);
  z-index: 2;
  .contacts__title {
    max-width: 150px;
    margin: auto;
    margin-top: 37px;
    color: $title-color;
    font: 25pt 'Sansus Regular';
    &:after {
      width: 80px;
      background-color: $title-color;
      padding: 0 0px;
    }
  }
}

.map__contacts .contacts__list {
  display: flex;
  flex-direction: row;
  .contacts__item {
    display: flex;
    flex-direction: column;
    //min-width: 200px;
  }
  .link {
    text-decoration: none;
    list-style: none;
    font: 12pt 'Roboto Medium';
    color: $title-color;
  }
  .item__link {
    display: flex;
    flex-direction: row;
  }
}

.link__svg {
  width: 55px;
  height: 55px;
  fill: #1056d1;
  margin-right: 15px;
}

.item__link--skype .link__svg {
  width: 62px;
  height: 62px;
}

.item__link--adress .link__svg {
  width: 62px;
  height: 62px;
}

.item__link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item__link--skype,
.item__link--phone {
  margin-bottom: 30px;
}

.contacts__item--last {
  margin-left: 60px;
}
