$footer-height-pages: 200px;
$footer-height-pages-tablets: 230px;
$title-color: #373e42;
$triangles-height: 120px;

/*triangles-header*/

.about-me {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.under-header__triangles {
  display: flex;
  width: 100vw; //TODO сделать 100vw для tablet, phone
  .triangles__left {
    width: 0;
    height: 0;
    border-bottom: $triangles-height solid #f2f0e8;
    border-right: 50vw solid transparent;
  }
  .triangles__right {
    width: 0;
    height: 0;
    border-bottom: $triangles-height solid #f4f5f0;
    border-left: 50vw solid transparent;
    @include tablets {
      border-bottom-color: #f2f0e8;
    }
  }
}

.under-header__triangles--about{
  .triangles__left-svg {
    fill: #f2f0e8;
  }
  .triangles__right-svg {
    fill: #f4f5f0;
  }
}

.pointer {
  display: block;
  position: absolute;
  z-index: 3;
  top: rem(33px);
  left: 50%;
  transform: translateX(-50%);
}

.pointer .arrow-down__svg {
  cursor: pointer;
  width: rem(25px);
  height: rem(30px);
  fill: rgba(#fff, .7);
  &:hover {
    fill: rgba(#fff, 1);
  }
}

/*left-side*/

.about-me.about-me--container {
  display: flex;
  flex-direction: row;
  .about-me__description,
  .about-me__skills {
    width: 50vw;
    display: flex;
    flex-direction: column;
  }
  .description__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-me__description {
    background-color: #f2f0e8;
    display: flex;
    align-items: center;
    @include tablets {
      width: 100%;
    }
  }
  .about-me__skills {
    background-color: #f4f5f0;
    @include tablets {
      width: 100%;
      padding-bottom: 50px;
    }
  }
  @include tablets {
    flex-direction: column;
  }
}

.description__title .title__svg {
  fill: #1056d1;
  opacity: .1;
  width: rem(195px);
  height: rem(140px);
  transform-origin: rem(40px) rem(45px);
  transform: rotate(-170deg);
}

.description__title .title__text {
  font: rem(63px) 'Sansus Regular';
  color: $title-color;
}

.description__img{
  width: rem(420px);
  height: rem(390px);
  margin: rem(35px) 0 rem(5px) 0;
  @include phones {
    width: 100%;
    height: 100%;
  }
}

.description__sub-title .who-i-am {
  padding: rem(20px) 0;
  color: $title-color;
  font: rem(35px) 'Sansus Regular';
  &:after {
    background-color: $title-color;
    margin-top: 10px;
    padding: 0 0px;
  }
}

.skills__title .benefit {
  padding: rem(20px) 0;
  color: $title-color;
  font: rem(33px) 'Sansus Regular';
  max-width: rem(250px);
  margin: auto;
  &:after {
    background-color: $title-color;
    padding: 0 0px;
  }
}

.description__text {
  margin:  0 rem(120px);
  .text__data{
    min-width: 430px;
    font: rem(16px) 'Roboto Regular';
    line-height: 1.5;
    margin-bottom: 2em;
    color:  $title-color;
    .data-first {
      margin-top: 0;
    }
    @include phones {
      min-width: 100%;
    }
  }
  @include phones {
    margin-left: rem(10px);
    margin-right: rem(10px);
  }
}

/*right-side*/

.about-me__skills {
  display: flex;
  flex-direction: column;
}

.description {
  font: rem(16px) 'Roboto Regular';
  line-height: 1.5;
  color: $title-color;
  margin-left: rem(45px);
}

.skills__widget {
  @include tablets {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: rem(30px);
  }
  @include phones {
    margin-top: rem(15px);
  }
  .widget-title {
    @include tablets {
      text-align: center;
    }
  }
}


.skills__title .description {
  @include tablets {
    margin:  0 rem(120px);
  }
  @include phones {
    margin: 0 rem(10px);
  }
}


/*map*/

.map__google-map {
  height: calc(100vh + 12.5rem);//200px
  @include tablets {
    height: calc(100vh + 16.4rem);
  }
  @include phones {
    height: calc(100vh + 23rem);
  }
}

.map {
  position: relative;
  //margin-bottom: $footer-height-pages;
}

.map__contacts {
  position: absolute;
  top: 50vh; //из-за отступа!
  left: 50%;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  background-color: rgba(#fff, .7);
  z-index: 2;
  .contacts__title {
    max-width: 100%;
    margin: auto;
    margin-top: rem(37px);
    color: $title-color;
    font: rem(35px) 'Sansus Regular';
    &:after {
      width: rem(80px);
      background-color: $title-color;
      padding: 0 0px;
    }
  .contacts {
    margin-top: rem(15px);
    padding-top: rem(20px);
    padding-left: rem(20px);
  }
  }
  @include phones {
    position: relative;
    background-color: #fff;
    top: 0;
    left: 0;
    transform: none;
  }
}

.map__contacts .contacts__list {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  .contacts__item {
    display: flex;
    flex-direction: column;
  }
  .link {
    text-decoration: none;
    list-style: none;
    font: rem(16px) 'Roboto Medium';
    color: $title-color;
    &:hover {
      color: #1056d1;
    }
  }
  .item__link {
    display: flex;
    flex-direction: row;
  }
  @include tablets {
    flex-direction: column;
  }
}

.contacts .link__svg {
  width: rem(47px);
  height: rem(47px);
  fill: #1056d1;
  margin-right: rem(15px);
}

.item__link--skype .link__svg {
  width: rem(50px);
  height: rem(50px);
}

.item__link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item__link--skype,
.item__link--phone {
  margin-bottom: rem(30px);
}

.contacts__item--last {
  margin-left: rem(45px);
  min-width: 200px;
  @include tablets {
    margin-left: 0;
  }
}

.map .contacts {
  max-width: 100%;
  margin: 0;
  .item__link {
    @include tablets {
      margin-bottom: rem(30px);
    }
    @include phones {
      margin-bottom: rem(15px);
    }
  }
  @include  tablets {
    margin-bottom: 0;
  }
}
