$footer-height-pages: 200px;
$title-color: #373e42;
$triangles-height: 120px;

/*triangles-header*/

.about-me {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.under-header__triangles {
  display: flex;
  width: 100%; //TODO сделать 100vw для tablet, phone
  .triangles__left-svg,
  .triangles__right-svg {
    width: 50vw;
    height: rem($triangles-height);
  }
  .triangles__left-svg {
    fill: #f2f0e8;
    transform-origin: 50%;
    transform: scale(-1, 1);
  }
}

.under-header__triangles--about{
  .triangles__left-svg {
    fill: #f2f0e8;
  }
  .triangles__right-svg {
    fill: #f4f5f0;
  }
}

.pointer {
  display: block;
  position: absolute;
  z-index: 3;
  top: rem(50px);
  left: 50%;
  transform: translateX(-50%);
}

.pointer .arrow-down__svg {
  cursor: pointer;
  width: rem(20px);
  height: rem(20px);
  fill: rgba(#fff, .7);
  &:hover {
    fill: rgba(#fff, 1);
  }
}

/*left-side*/

.about-me.container {
  display: flex;
  flex-direction: row;
  .about-me__description {
    background-color: #f2f0e8;
    display: flex;
    align-items: center;
  }
  .about-me__skills {
    background-color: #f4f5f0;
  }
  .about-me__description,
  .about-me__skills {
    width: 50vw;
    display: flex;
    flex-direction: column;
  }
}

.description__title .title__svg {
  fill: #1056d1;
  opacity: .1;
  width: rem(195px);
  height: rem(140px);
  transform-origin: rem(40px) rem(45px);
  transform: rotate(-170deg);
}

.description__title .title__text {
  font: rem(40px) 'Sansus Regular';
  color: $title-color;
}

.description__img{
  width: rem(420px);
  height: rem(390px);
  margin: rem(35px) 0 rem(5px) 0;
}

.description__sub-title .who-i-am {
    padding: rem(20px) 0;
    color: $title-color;
    font: rem(25px) 'Sansus Regular';
    &:after {
      background-color: $title-color;
      padding: 0 0px;
    }
}

.skills__title .benefit {
  padding: rem(20px) 0;
  color: $title-color;
  font: rem(25px) 'Sansus Regular';
  max-width: rem(250px);
  margin: auto;
  &:after {
    background-color: $title-color;
    padding: 0 0px;
  }
}

.description__text {
  margin:  0 rem(120px);
  .text__data{
    font: rem(16px) 'Roboto Regular';
    line-height: 1.5;
    margin-bottom: 2em;
    color:  $title-color;
  }
}

/*right-side*/

.about-me__skills {
  display: flex;
  flex-direction: column;
}

.description {
  font: rem(16px) 'Roboto Regular';
  line-height: 1.5;
  color: $title-color;
  margin-left: rem(45px);
}

.map__google-map {
  height: calc(100vh + 12.5rem);//200px

}

.map {
  position: relative;
  //margin-bottom: $footer-height-pages;
}

.map__contacts {
  position: absolute;
  top: 50vh; //из-за отступа!
  left: 50%;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  background-color: rgba(#fff, .7);
  z-index: 2;
  .contacts__title {
    max-width: 100%;
    margin: auto;
    margin-top: rem(37px);
    color: $title-color;
    font: rem(25px) 'Sansus Regular';
    &:after {
      width: rem(80px);
      background-color: $title-color;
      padding: 0 0px;
    }
  }
}

.map__contacts .contacts__list {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  .contacts__item {
    display: flex;
    flex-direction: column;
    //min-width: 200px;
  }
  .link {
    text-decoration: none;
    list-style: none;
    font: rem(16px) 'Roboto Medium';
    color: $title-color;
  }
  .item__link {
    display: flex;
    flex-direction: row;
  }
}

.link__svg {
  width: rem(55px);
  height: rem(55px);
  fill: #1056d1;
  margin-right: rem(15px);
}

.item__link--skype .link__svg {
  width: rem(62px);
  height: rem(62px);
}

.item__link--adress .link__svg {
  width: rem(95px);
  height: rem(95px);
}

.item__link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item__link--skype,
.item__link--phone {
  margin-bottom: rem(30px);
}

.contacts__item--last {
  margin-left: rem(60px);
}
