$footer-height-pages: 200px;
$footer-height-pages-tablets: 230px;
$footer-height-pages-phones: 360px;

/*header-title*/

.header__title.header__title--blog {
  .title__name {
    font: rem(60px) 'Sansus Regular';
  }
  .title__content {
    font: rem(16px) 'Roboto Regular';
  }
}

.under-header__triangles--blog{
  .triangles__left {
    border-bottom-color: #f4f5f0;
  }
}

.about-me--blog {
  position: relative;
  @include tablets {
    .triangles__right {
      border-bottom-color: #f4f5f0;
    }    
  }
}

.about-me--blog .blog-articles {
  background-color: #f4f5f0;
  display: flex;
  padding-bottom: rem($footer-height-pages) + rem(65px);
  @include tablets {
    padding-bottom: rem($footer-height-pages-tablets) + rem(30px);
    display: block;
    position: relative;
  }
  @include phones {
    padding-bottom: rem($footer-height-pages-phones) + rem(20px);
  }
}

/*sidebar*/

.about-me--blog .blog-articles__sidebar {
  margin-top: 85px;
  width: 30%;
  position: relative;
  .articles__list {
    list-style: none;
    padding: 0;
  }
  .articles__item {
    padding: rem(15px) rem(20px);
    text-align: right;
  }
  .articles__link {
    text-decoration: none;
    font: rem(16px) 'Roboto Regular';
    color: #566358;
    cursor: pointer;
    &:hover {
      color: #004cd1;
    }
    @include phones {
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
  }
  @include tablets {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: -100%;
    background-color: #004cd1;
  }
}

.blog-articles__sidebar .articles__item--active {
  border-right: 2px solid #004cd1;
  .articles__link {
    color: #004cd1;
    font: rem(16px) 'Roboto Medium';
    @include phones {
      color: #fff;
    }
  }
}

/*articles*/

.blog-articles__content {
  margin: rem(20px) rem(100px);
  width: 70%;
  margin-top: 85px;
  .content__title {
    margin: 0;
    font: rem(35px) 'Sansus Regular';
    line-height: 1.5;
    color: #455a64;
  }
  .content__date {
    font: rem(16px) 'Roboto Regular';
    line-height: 2;
    color: #004cd1;
    margin-top: rem(10px);
  }
  .content__text {
    margin-bottom: rem(20px);
    font: rem(16px)'Roboto Regular';
    line-height: 1.5;
    color: #455a64;
    .link {
      text-decoration: none;
      color: #004cd1;
    }
    .link:hover {
      text-decoration: underline;
    }
    @include tablets {
      margin-right: rem(20px);
    }
  }
  .content__article {
    border-top: 4px solid #cfcfcf;
    margin-bottom: rem(50px);
    padding-top: rem(50px);
  }
  .content__article:first-child {
    border-top: none;
    padding-top: 0;
  }
  @include tablets {
    margin: rem(30px) rem(20px) rem(30px) rem(15px);
    width: 100%;
  }
  @include phones {
    margin: rem(30px) rem(20px) rem(30px) rem(15px);
    width: 100%;
  }
}

.articles__link[href='#article-gulp'] {
  color: red;
}


