$footer-height: 100px;
$button-hover-color: #083c96;
$welcome-box-width: 380px;
$rounded-image-wh: 143px;

html,
body {
  height: 100%;
}

.body {
  background-color: #1a2c51;
}

.wrapper-welcome {
  min-height: 100vh;
  margin-bottom: -$footer-height;
  overflow: hidden;
  position: relative;
}

.wrapper-welcome:after {
  content: '';
  display: block;
  height: $footer-height;
  position: relative;
}

.background-welcome__video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100vw;
  height: auto;
  z-index: -2;
  transform: translate(-50%, -50%);
}

.background-welcome__img {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  transform: translate(-50%, -50%);
}

/*header*/

.header-welcome {
  display: flex;
  justify-content: flex-end;
  //width: 100%;
}

.header-welcome .authorisation-button {
  margin-top: rem(24px);
  margin-right: rem(20px);
  outline: 2px solid #fff;
  padding: rem(15px) rem(28px);
  cursor: pointer;
  //z-index: 2;
  &:hover {
    outline: none;
    background-color: $button-hover-color;
  }
}

.header-welcome .authorisation-button__link {
  text-decoration: none;
  color: #fff;
  font: 14pt 'Roboto Regular';
}

/*welcome-box*/

.flip-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flip-container,
.welcome-box--front,
.welcome-box--back {
  width: rem(380px);
  min-height: rem(390px);
}

.welcome-box--front {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(#231c29, .5);
}

.welcome-box__image {
  width: $rounded-image-wh;
  height: $rounded-image-wh;
  margin: rem(40px) 0 rem(20px) 0;
}

.welcome-box__name,
.welcome-box__comment {
  color: #fff;
  text-align: center;
}

.welcome-box__name {
  margin: 0;
  font: 26pt/1.5 'Roboto Regular';
}

.welcome-box__comment {
  margin: 0 0 rem(35px) 0;
  font: 14pt/1.5 'Roboto Light';
}

.welcome-box__socials {
  margin-bottom: rem(41px);
}

.bottom-menu {
  width: 100%;
}

/*footer*/

.footer-welcome {
  flex: 0 0 auto;
  display: flex;
  height: $footer-height;
  position: relative;
  align-items: center;
  justify-content: center;
}

.footer-welcome .copyrigth {
  color: #fff;
  font: 14pt 'Roboto Light';
}


