$footer-height: 100px;
$button-hover-color: #083c96;
$welcome-box-width: 380px;
$rounded-image-wh: 143px;

html,
body {
  height: 100%;
}

.body {
  background-color: #1a2c51;
  background-size: cover;
  background-attachment: fixed;

}

.wrapper-welcome {
  min-height: 100vh;
  margin-bottom: -$footer-height;
}

.wrapper-welcome:after {
  content: '';
  display: block;
  height: $footer-height;
  position: relative;
}

.background-welcome__video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100vw;
  //height: 100vh;
  //width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}

.background-welcome__img {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 0;
  width: 100vw;
  //height: 100vh;
  //width: auto;
  height: 100vh;
  transform: translate(-50%, -50%);
}

/*header*/

.header-welcome {
  width: 100%;
  position: relative;
}

.header-welcome .log-in-button {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 24px;
  margin-right: 20px;
  border: 2px solid #fff;
  padding: 15px 28px;
  cursor: pointer;
  &:hover {
    border: none;
    background-color: $button-hover-color;
  }
}

.header-welcome .log-in-button__link {
  text-decoration: none;
  color: #fff;
  font: 14pt 'Roboto Regular';
}

/*welcome-box*/

.welcome-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: $welcome-box-width;
}

.welcome-box__item {
  background-color: rgba(28, 31, 41, .5);

}

.welcome-box__image {
  width: $rounded-image-wh;
  margin: auto;
  padding-top: 40px;
}

.welcome-box__name,
.welcome-box__comment {
  text-align: center;
  color: #fff;
  margin-top: 20px;
}

.welcome-box__name {
  font: 26pt/1 'Roboto Regular';
}

.welcome-box__comment {
  margin-top: -20px;
  font: 14pt/.5 'Roboto Light';
}

.welcome-box__socials {
  background-color: #9c0033;
  display: inline;
  text-align: center;
}

/*footer*/

.footer-welcome {
  display: flex;
  height: $footer-height;
  position: relative;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.footer-welcome .copyrigth {
  color: #fff;
  font: 16pt 'Roboto Light';
}


