$footer-height: 100px;
$button-hover-color: #083c96;
$welcome-box-width: 380px;
$rounded-image-wh: 143px;

html,
body {
  height: 100%;
}

.body {
  background-color: #1a2c51;
}

.wrapper-welcome {
  min-height: 100vh;
  margin-bottom: -$footer-height;
  overflow: hidden;
  position: relative;
}

.wrapper-welcome:after {
  content: '';
  display: block;
  height: $footer-height;
  position: relative;
}

.background-welcome__video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100vw;
  height: auto;
  z-index: -2;
  transform: translate(-50%, -50%);

}

.background-welcome__img {
  background-image: url("/assets/img/night_mountains.png");
  background-size: cover;
  background-position: bottom;
  position: absolute;
  left: -5%;
  bottom: -5%;
  right: -5%;
  //width: 100%;
  height: 100vh;
  z-index: -1;
  transform: translate(-50%, -50%);
}

/*header*/

.header-welcome {
  display: flex;
  justify-content: flex-end;
  @include phones {
    justify-content: center;
  }
}

.header-welcome .authorisation-button {
  margin-top: rem(24px);
  margin-right: rem(20px);
  outline: 2px solid #fff;
  padding: rem(12px) rem(28px);
  cursor: pointer;
  &:hover {
    outline: none;
    background-color: $button-hover-color;
  }
}

.header-welcome .authorisation-button__link {
  text-decoration: none;
  color: #fff;
  font: rem(16px) 'Roboto Regular';
  letter-spacing: .7px;
}

/*welcome-box*/

.flip-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flip-container,
.welcome-box--front,
.welcome-box--back {
  width: rem(400px);
  height: rem(390px);
}

.welcome-box--back {
  height: rem(400px);
}

.welcome-box--front {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(#231c29, .5);
}

.welcome-box__image {
  width: $rounded-image-wh;
  height: $rounded-image-wh;
  margin: rem(40px) 0 rem(12px) 0;
}

.welcome-box__name,
.welcome-box__comment {
  color: #fff;
  text-align: center;
}

.welcome-box__name {
  margin: 0;
  font: rem(28px) 'Roboto Regular';
}

.welcome-box__comment {
  margin: 0 0 rem(20px) 0;
  font: rem(16px) 'Roboto Light';
}

.welcome-box__socials {
  margin-bottom: rem(36px);
  margin-top: rem(16px);
  .socials__svg {
    fill: #fff;
    &:hover {
      fill: #0548be;
    }
  }
}

.bottom-menu {
  width: 100%;
}

/*footer*/

.footer-welcome {
  flex: 0 0 auto;
  display: flex;
  height: $footer-height;
  position: relative;
  align-items: center;
  justify-content: center;
}

.footer-welcome .copyrigth {
  color: #fff;
  font: rem(16px) 'Roboto Light';
  text-align: center;
  @include phones {
    display: flex;
    flex-direction: column;
  }
  .display-none {
    @include  phones {
      display: none;
    }
  }
}


