$footer-height-pages: rem(200px);
$footer-height-pages-tablets: rem(230px);
$footer-height-pages-phones: rem(360px);


.under-header__triangles--works .triangles__left-svg,
                                .triangles__right-svg {
    fill: rgba(#0d1120, .85);
}

.article {
  position: relative;
}

.article .title__svg--opinions {
  fill: #fff;
  opacity: .07;
  height: rem(120px);
  transform-origin: rem(200px) rem(-70px);
  transform: rotate(40deg);
}

.article .header-article,
         .header-opinions {
  color: #fff;
  font: rem(30px) 'Sansus Regular';
}

.article--works {
  .header-article {
    min-height: rem(210px);
    background-color: rgba(#0d1120, .85);
    .title__svg {
      fill: #fff;
      opacity: .2;
      width: rem(250px);
    }
  }
}

.under-header__triangles--works{
  .triangles__left,
  .triangles__right {
    border-bottom-color: rgba(#0d1120, .85);
  }
}

.opinions {
  //background: url("../img/lighthouse.jpg") no-repeat;
  background-size: 100vw;
  display: flex;
  flex-direction: column;
  padding: rem(50px) rem(50px) 0 rem(50px);
  position: relative;
  overflow: hidden;
  padding-bottom: $footer-height-pages;
  @include tablets {
    padding-bottom: $footer-height-pages-tablets;
  }
  @include phones {
    padding-bottom: $footer-height-pages-phones;
  }
}

.opinions__background {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.lighthouse {
  background: url("/assets/img/lighthouse-big.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  @include laptop {
    background: url("/assets/img/lighthouse.jpg");
    background-position: center;
  }
  @include tablets {
    background: url("/assets/img/lighthouse-tablets.jpg");
    background-position: center;
  }
  @include phones {
    background: url("/assets/img/lighthouse-phones.jpg");
    background-position: center;
  }
}

.header-opinions .title__svg {
  opacity: .15;
  width: rem(180px);
  height: rem(215px);
}
.header-opinions {
  margin-bottom: 25px;
}

.blockquote {
  margin: 0;
}

.opinions__comments {
  display: flex;
  justify-content: center;
  @include phones {
    flex-direction: column;
  }
}

.opinions__comments .comments__dima,
                    .comments__zar{
  width: rem(380px);
  display: flex;
  flex-direction: column;
}

.dima__photo, .zar__photo {
  margin: 0 auto;
  transform: scale(0.6,0.6);
  width: 125px;
  height: 125px;
}

.opinions__comments .comments__dima,
                    .comments__zar {
  //margin: 22px 0;
  color: #fff;
  font: rem(16px) 'Roboto Italic';
  line-height: 1.6;
  position: relative;
}

.opinions__comments .blockquote {
  margin: 0 rem(22px) rem(10px) 0;
  position: relative;
  z-index: 5;
}

.opinions__comments .signature{
  text-align: center;
}

.opinions .blockquote:before {
  content: "\201C";
  font: rem(250px) 'Times New Roman';
  color: rgba(#fff, .1);
  position: absolute;
  top: rem(-70px);
  z-index: -1;
}

.linked-box {
  display: flex;
  justify-content: center;
  padding-top: rem(70px);
}

.pointer-bottom {
  justify-content: center;
  display: flex;
  padding: rem(70px) 0;
  @include phones {
    padding-top: rem(30px);
  }
}

.pointer-bottom .arrow-down__svg {
  cursor: pointer;
  transform: rotate(180deg);
  width: rem(25px);
  height: rem(30px);
  fill: rgba(#fff, .7);
  &:hover {
    fill: rgba(#fff, 1);
  }
}


