$border-left-color: #7195d2;
$button-color: #0447bd;
$button-hover-color: #083c96;
$big-width: 1800px;
$normal-width: 1200px;
$iPad-width: 786px;
$iPhone-width: 320px;
$border-left-color: #7195d2;
$rounded-image-wh: 143px;
$title-color: #373e42;


@import '/assets/fonts/roboto.css';
@import '/assets/fonts/sansun.css';
@import '/assets/fonts/fontawesome.css';

@import 'common/_mixins';
@import 'common/_modificators';

@import 'pages/index';
@import 'pages/about';
@import 'pages/works';
@import 'pages/blog';

@import 'common/flipper';
@import 'common/log-in_widget';
@import 'common/rounded-image';
@import 'common/stars-background-title';
@import 'common/bottom-menu';
@import 'common/footer_box';
@import 'common/header_box';
@import 'common/exaples-works_widget';
@import 'common/linked-title';
@import 'common/linked_widget';
@import 'common/menu_widget';
@import 'common/skilles_widget';
@import 'common/socials_widget';


