nav.contacts
    ul.contacts__list
        li.contacts__item.skype
            a.contacts_link betrayal-mmm
        li.contacts__item.mail
            a.contacts_link m.o.gushchina@gmail.com
        li.contacts__item.phone
            a.contacts_link +7 962 961 78 37
        li.contacts__item.adress
            a.contacts_link Королёв, ул. Строителей, д. 17