.edit__title Страница "Обо мне"
//<?= $user_id;?>
form.edit__content#edit-form
  .left-side
    .content-skills.content__frontend
      .frontend__title Frontend
      .skills-fields
        .edit-skill
          .edit-skill__title.uppercase html
          input.edit-skill__input
          span.span %
        .edit-skill
          .edit-skill__title.uppercase css
          input.edit-skill__input
          span.span %
        .edit-skill
          .edit-skill__title JavaScript
          input.edit-skill__input
          span.span %
    .content-skills.content__backend Backend
      .skills-fields
      .edit-skill
        .edit-skill__title.uppercase PHP
        input.edit-skill__input
        span.span %
      .edit-skill
        .edit-skill__title Node.js
        input.edit-skill__input
        span.span %
      .edit-skill
        .edit-skill__title Mongo.db
        input.edit-skill__input
        span.span %
  .content-skills.content__workflow Workflow
    .skills-fields
      .edit-skill
        .edit-skill__title Git
        input.edit-skill__input
        span.span %
      .edit-skill
        .edit-skill__title Gulp
        input.edit-skill__input
        span.span %
      .edit-skill
        .edit-skill__title Bower
        input.edit-skill__input
        span.span %

