.examples-works
  .examples-works__description.examples-works__description--laptop
    + setUnderlinedTitle("Первый пример", "work")
    .description__technologies
      p.technologies__text HTML, CSS, JAVASCRIPT
    .description__site
      a.site__link Посмотреть сайт
  .examples-works__img
    .img-display
      img(src="/assets/img/work-test.jpg", alt="Пример сайта").img-display--current
    .examples-works__description.examples-works__description--tablets
      + setUnderlinedTitle("Первый пример", "work")
      .description__technologies
        p.technologies__text HTML, CSS, JAVASCRIPT
      .description__site
        a.site__link Посмотреть сайт
    .img-box
      .img-hide
        .img-hide__mask
        .img-hide__pointer.img-hide__pointer--left
          svg.arrow-down__svg(preserveAspectRatio="xMaxYMax meet", viewBox="0 0 25.18 16.164")
            use.svg__icon(xlink:href="assets/img/sprite/img.svg#arrow_down")
        img(src="/assets/img/work-test.jpg", alt="Пример сайта").img-hide--current
      .img-hide
        .img-hide__mask
        .img-hide__pointer.img-hide__pointer--right
          svg.arrow-down__svg(preserveAspectRatio="xMaxYMax meet", viewBox="0 0 25.18 16.164")
            use.svg__icon(xlink:href="assets/img/sprite/img.svg#arrow_down")
        img(src="/assets/img/work-test.jpg", alt="Пример сайта").img-hide--current
    //JS-галерея. Посмотреть плагин для слайдера.