.exaples-works
    .exaples-works__description
        +setLinedTitle("Информационная система работы с файлами ICC профилей", "ipe")
        .description__technologies
        input.description__site(type="button", value="Посмотреть сайт")
    .exaples-works__img
        //JS-галерея. Посмотреть плагин для слайдера.