form.linked-form
  + setUnderlinedTitle("Связаться со мной", "linked-form__title")
  input.input.linked-form__name(placeholder="Ваше имя")
  input.input.linked-form__mail(placeholder="Ваше email")
  textarea.textarea.linked-form__message(placeholder="Ваше сообщение")
  -
    var items = {
    "Отправить"   : "#",
    "Отчистить"   : "#"
    }
  .welcome-box__menu
  + setList(items, "form-bottom")
  //.linked-form__bottom
    input.linked-form__send(type="submit", value="Отправить")
    input.linked-form__clear(type="button", value="Отчистить")