form.linked-form
    + setLinedTitle("Связаться со мной", "linked-form__title")
    input.linked-form__name(placeholder="Ваше имя")
    input.linked-form__mail(placeholder="Ваше email")
    input.linked-form__message(placeholder="Ваше сообщение")
    input.linked-form__send(type="submit", value="Отправить")
    input.linked-form__clear(type="button", value="Отчистить")