form.linked-form
  + setUnderlinedTitle("Связаться со мной", "linked-form__title")
  input.input.linked-form__name(placeholder="Ваше имя")
  input.input.linked-form__mail(placeholder="Ваше email")
  textarea.textarea.linked-form__message(placeholder="Ваше сообщение")
  -
    var items = {
    "Отправить"   : "submit",
    "Отчистить"   : "button"
    }
  + setButtons(items, "bottom-form bottom-form--works")