form.form.linked-form#linkedForm(action="#!")
  + setUnderlinedTitle("Связаться со мной", "linked-form__title")
  input.input.form-field.error#name(placeholder="Ваше имя", name="name")
  input.input.form-field.error#mail(placeholder="Ваш email", name="mail")
  textarea.textarea.form-field.error#message(placeholder="Ваше сообщение", name="message")
  -
    var items = {
    "Отправить"   : "submit",
    "Отчистить"   : "reset"
    }
  + setButtons(items, "bottom-form bottom-form--works")