.welcome-box__name.uppercase Авторизуйтесь
form.form.log-in-form#logInForm(action="#!")
  .log-in-form__wrapper
    .log-in__name.log-in--field
      .log-in-logo
        svg.log-in-logo__svg.log-in-logo__svg--name(preserveAspectRatio="xMinYMin meet", viewBox="0 0 14.137 15.422")
          use.svg__icon(xlink:href="assets/img/sprite/img.svg#login")
      input.log-in__input.form-field.error.log-in__input--name#login(placeholder="Логин", name="login")
    .log-in__pass.log-in--field
      .log-in-logo
        svg.log-in-logo__svg.log-in-logo__svg--pass(preserveAspectRatio="xMinYMin meet", viewBox="0 0 16.897 15.984")
          use.svg__icon(xlink:href="assets/img/sprite/img.svg#password")
      input.log-in__input.form-field.error.log-in__input--pass#pass(type="password", placeholder="Пароль", name="pass")
    .log-in__capcha
      .capcha__robot
        input.capcha__chekbox.human-status#human-checkbox(type="checkbox", value="human")
        label.capcha__answer.capcha__answer--chekbox(for="human-checkbox") Я человек
      .capcha__robot-repeat
        .capcha__question Вы точно не робот?
        .capcha__answers
          input.answers__radio.human-status#human-yes-radio(type="radio", name="capcha-answers", value="yes")
          label.capcha__answer.capcha__answer--yes.capcha__answer--radio(for="human-yes-radio") Да
          input.answers__radio.human-status#human-no-radio(type="radio", name="capcha-answers", value="no", checked)
          label.capcha__answer.capcha__answer--radio(for="human-no-radio") Не уверен
  -
    var items = {
    "На главную"   : "button",
    "Войти"        : "submit"
    }
  + setButtons(items, "bottom-form bottom-form--log-in")

