h3.welcome-box__name АВТОРИЗИРУЙТЕСЬ
form.log-in-form
  .log-in__name
    svg.log-in__svg.log-in__svg--name(preserveAspectRatio="xMinYMin meet", viewBox="0 0 14.137 15.422")
      use.svg__icon(xlink:href="assets/img/sprite/img.svg#login")
    input.name__input(placeholder="Логин")
  .log-in__pass
    svg.log-in__svg.log-in__svg--pass(preserveAspectRatio="xMinYMin meet", viewBox="0 0 16.897 15.984")
      use.svg__icon(xlink:href="assets/img/sprite/img.svg#password")
    input.pass__input(placeholder="Пароль")
  .log-in__capcha
    .capcha__robot
      input.capcha__chekbox--place(type="checkbox")
      .capcha__question Я человек
    .capcha__robot-repeat
      .capcha__question Вы точно не робот?
      input.capcha__radio(type="radio")
      .capcha__radio--yes Да
      input.capcha__radio(type="radio")
      .capcha__radio--no Не уверен
  - var items = [["На главную", "index.html"], ["Войти", "pages/personality.html"]]
  +setList(items, "welcome-box-menu")

