.main-menu-box
  .main-menu-box__left
  .main-menu-box__right
  .main-menu-box__content
    -
      var items = {
      "МОИ РАБОТЫ"  : "works",
      "БЛОГ"        : "blog",
      "ОБО МНЕ"     : "about",
      "АВТОРИЗАЦИЯ" : "index"
      }
    +setList(items, "main-menu")
.menu-hamburger
  .menu-hamburger__item#menu-hamburger__item--line-first
  .menu-hamburger__item#menu-hamburger__item--line-second
  .menu-hamburger__item#menu-hamburger__item--line-third