a.menu__link.link-humburger(href="#")
  svg.menu__svg.menu__svg--humburger(preserveAspectRatio="xMinYMin meet")
    title.svg__title menu
    use.svg__icon(xlink:href="assets/img/sprite/img.svg#hamburger")
