.preloader
    svg.night-animation(width="120", height="120", viewbox="0 0 120 120", preserveAspectRatio="xMaxYMax meet")
        g.group
            circle.small.circle(r="35", cx="50%", cy="50%", fill="none", stroke-dasharray="1 220", stroke-linecap="round")
            circle.big.circle(r="25", cx="50%", cy="50%", fill="none",  stroke-dasharray="0 157")
            text.inner-text(x="50%", y="50%", fill="#000")
