ul.socials
    li.socials__item
        a.socials__link.link-vk(href="http://new.vk.com/ridetheskies", target="_blank")
            svg.socials__svg.socials__svg--vk
                title.svg__title vk.com
                use.svg__icon(xlink:href="assets/img/symbol/svg/sprite.symbol.svg#vk")
    li.socials__item
        a.socials__link.link-github(href="https://github.com/glowlh", target="_blank")
            svg.socials__svg.socials__svg--github
                title.svg__title github.com
                use.svg__icon(xlink:href="assets/img/symbol/svg/sprite.symbol.svg#github")
    li.socials__item
        a.socials__link.link-in(href="https://www.linkedin.com/in/мария-гущина-84093a122", target="_blank")
            svg.socials__svg.socials__svg--in
                title.svg__title linkedin.com
                use.svg__icon(xlink:href="assets/img/symbol/svg/sprite.symbol.svg#in")

