.triangles__left
.triangles__right
//svg.triangles__left-svg
//  use.svg__icon(xlink:href="assets/img/sprite/img.svg#about_bg_right")
//svg.triangles__right-svg
//  use.svg__icon(xlink:href="assets/img/sprite/img.svg#about_bg_right")
//
