.edit__title.title-roboto-medium Страница "Блог"
form.edit__content#edit-works-form
  .content__edit-blog
    .edit-blog__title.title-roboto-medium Добавить запись
    input.edit-blog__field.edit-blog__input.title-roboto-regular.title-roboto-regular--medium-grey(placeholder="Название", data-article="title")
    input.edit-blog__field.edit-blog__input.title-roboto-regular.title-roboto-regular--medium-grey(placeholder="Дата", data-article="date")
    textarea.edit-blog__field.edit-blog__textarea.title-roboto-regular.title-roboto-regular--medium-grey(placeholder="Содержание", , data-article="content")
  .content__button
    input.saving-button(type="submit", value="Сохранить")

