$border-left-color: #7195d2;
$button-hover-color: #083c96;
$button-color: #0447bd;

.welcome-navigation__list {
  padding: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.welcome-navigation__item {
  flex: 1;
  padding: 15px 0;
  text-align: center;
  border-left: 2px solid $border-left-color;
  cursor: pointer;
  background-color: $button-color;
  &:hover{
    background-color: $button-hover-color;
  }
}

.welcome-navigation__list .welcome-navigation__item:first-child {
  border: none;
}

.welcome-navigation__list .welcome-navigation__link {
  text-decoration: none;
  color: #fff;
}