$border-left-color: #7195d2;
$button-hover-color: #083c96;
$button-color: #0447bd;

.bottom-menu__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.bottom-menu__item {
  flex: 1;
  padding: rem(15px) 0;
  text-align: center;
  border-left: 2px solid $border-left-color;
  cursor: pointer;
  background-color: $button-color;
  &:hover{
    background-color: $button-hover-color;
  }
}

.bottom-menu__list .bottom-menu__item:first-child {
  border: none;
}

.bottom-menu__list .bottom-menu__link {
  text-decoration: none;
  color: #fff;
  font-size: rem(16px);
}