$background-description: #f2f0e8;
$font-color-description: #474b57;

.examples-works {
  min-height: 100vh;
  display: flex;
  @include tablets {
    flex-direction: column-reverse;
  }
}
/*left-side*/
.examples-works__description {
  background-color: $background-description;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 50vw;
  font: rem(30px) 'Sansus Regular';
  color: $font-color-description;
  @include tablets {
    width: 100%;
    padding: rem(40px) 0 rem(60px) 0;
  }
}

.examples-works__description--tablets {
  display: none;
  @include tablets {
    display: flex;
  }
}

.examples-works__description--laptop {
  @include tablets {
    display: none;
  }
}

.examples-works__description .work:after {
  background-color: rgba($font-color-description, .5);
}

.examples-works__description .description__technologies {
  font: rem(16px) 'Roboto Regular';
  margin-bottom: rem(40px);
  color: $button-color;
  .technologies__text {
    margin-top: rem(20px);
  }
  @include tablets {
    margin-bottom: rem(15px);
  }
}

.examples-works__description .site__link {
  cursor: pointer;
  color: #fff;
  background-color: $button-color;
  padding: rem(11px) rem(11px) rem(11px) 0;
  font: rem(16px) 'Roboto Regular';
  &:hover {
    background-color: #083c96;
  }
  &:before {
    content: '\f0c1';
    font: rem(18px) 'FontAwesome';
    color: #fff;
    padding: 0 rem(15px);
    display: inline-block;
    vertical-align: middle;
  }
}

/*right-side*/

.examples-works__img {
  background-color: #fff;
  width: 50vw;
  display: flex;
  flex-direction: column;
  @include tablets {
    width: 100%;
  }
}

.examples-works__img .img-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 30vh;
  .img-hide--current {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.examples-works__img .img-display{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  .img-display--current {
    height: 25vh;
  }
}

.img-box .img-hide {
  position: relative;
  width: 25vw;
  overflow: hidden;
  height: 100%;
  @include laptop {
    width: 50vw;
  }
}

.img-box .img-hide__mask {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba($font-color-description, .4);
  &:hover, .img-hide__pointer .arrow-down__svg:hover {
    background-color: rgba($font-color-description, 0.15);
  }

}

.img-hide__pointer {
  position: absolute;
  left: 50%;
  top: 50%;
  width: rem(45px);
  @include tablets {
    width: 33%;
  }
  transform: translate(-50%, -50%);
  z-index: 3;
  .arrow-down__svg {
    cursor: pointer;
    width: 100%;
    height: 100%;
    fill: rgba(#fff, .7);
    &:hover {
      fill: rgba(#fff, 1);
    }
  }
}

.img-hide__pointer--right .arrow-down__svg {
  transform: rotate(180deg);
}

