$footer-height-pages: 200px;

.footer .navigation-site__item {
    display: inline-block;
    list-style: none;
}

.footer .navigation-site__link {
    text-decoration: none;
    color: #fff;
}

.footer .navigation-site__list {
    padding: 0;
    margin: 0;
}

.footer .navigation-site__item {
    margin-left: rem(20px);
    &:first-child {
        margin-left: 0;
    }
}

.footer .contacts-links__list {
    padding: 0;
    margin: 0;
}

.footer  .comment,
         .contacts,
         .copyright {
    font: 14pt 'Roboto Light';
    color: #fff;
}

.footer  .comment,
         .contacts,
         .links {
    border-right: 2px solid;
    border-color: rgba(#fff, .2);
}

.footer .contacts:last-child {
    border: none;
}

.footer .links {
    font: 14pt 'Roboto Regular';
}

.footer .copyright {
    display: block;
}

.footer__content .socials__svg {
    fill: rgba(#fff, .5);
    &:hover {
       fill: rgba(#004cd1, 1);
    }
}

.footer__content .comment__text {
    margin: 0;
}

.footer .contacts-links__list {
  list-style: none;
}

.footer .contacts-links__link {
  color: #fff;
  text-decoration: none;
}

.footer__content {
    display: flex;
    flex-direction: row;
}

.footer__content {
    flex: 1;
    align-content: stretch;
    list-style: none;
    justify-content: center;

}

.footer .copyrigth__text {
    margin: auto;
}

.footer__copyright {
    background-color: rgba(#083c96, .6);
    min-height: rem(38px);
}

.footer__copyright .copyright {
    display: flex;
    text-align: center;
}

.footer__content
    .comment,
    .links,
    .contacts {
    padding: 0 rem(30px);
    margin: rem(30px) 0;
    max-width: 33.333%;
}

.footer__content .navigation__socials {
    padding-top: rem(30px);
}

.footer {
  display: flex;
  flex-direction: column;
  height: $footer-height-pages;
  background-color: rgba(28, 31, 41, .5);
  overflow: hidden;
}

.footer{
    z-index: 2;
    position: relative;
}