$rounded-image-wh: 143px;
$footer-height-pages: 200px;
$footer-height-pages-tablets: 230px;
$footer-height-pages-phones: 330px;
$triangles-height: 120px;

.header__content,
.header__background {
  position: absolute;
  top: 0;
  width: 100%;
}

.header__background .background__img{
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.background__img {
  height: 100vh;
}

.widgets__socials {
  float: left;
  //margin: -20px 0;
  margin-left: rem(30px);
}

.widgets__socials .socials__svg {
  fill: #fff;
  &:hover {
    fill: #004cd1;
  }
}

.widgets__menu {
  float: right;
  margin-right: rem(20px);
}

.header__widgets {
  margin-top: rem(28px);
}

.header__profile-picture {
  min-width: rem(450px);
  min-height: rem(450px);
  margin: auto;
}

.stars__svg,
.photo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  //top: 150px;
}

.stars__svg {
  fill: #fff;
  opacity: .07;
  width: rem(450px);
  height: rem(450px);
  margin-top: rem(-140px);
}

.photo {
  width: $rounded-image-wh;
  height: $rounded-image-wh;
  margin: auto;
  top: rem(150px);
}

.header__title {
  text-align: center;
  color: #fff;
  position: absolute;
  top: rem(320px);
  left: 50%;
  transform: translateX(-50%);
  @include tablets {
    top: rem(360px)
  }
}

.header__title .title__name {
  font: rem(35px) 'Roboto Regular';
  @include phones {
    font-size: rem(25px);
  }
}

.header__title .title__comment {
  font: rem(16px) 'Roboto Light';
}

.header {
  position: relative;
  margin-bottom: rem(-330px);
  min-height: calc(100vh + 13.125rem);//210px
  .header__background {
    height: 100%;
  }
  .background__img {
    background-image: url("/assets/img/background-night-big.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100%;
    //@include laptop {
    //  background: url("/assets/img/background-night-big.jpg") no-repeat;
    //  background-size: 100% 100%;
    //}
    //@include tablets {
    //  background: url("/assets/img/background-night-tablet.jpg") no-repeat;
    //  background-size: 100% auto;
    //}
    //@include phones {
    //  background: url("/assets/img/background-night-phone.jpg") no-repeat;
    //  background-size: 100% 100%;
    //}
  }
}

.header__background {
  z-index: -1;
}

/*footer*/

.wrapper {
  margin-bottom: -$footer-height-pages;
  @include tablets {
    margin-bottom: -$footer-height-pages-tablets;
  }
  @include phones {
    margin-bottom: -$footer-height-pages-phones;
  }
}

