$rounded-image-wh: 143px;
$footer-height-pages: 200px;
$triangles-height: 120px;

.header__content,
.header__background {
  position: absolute;
  top: 0;
  width: 100%;
}

.header__background .background__img{
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.background__img {
  height: 100vh;
}

.widgets__socials {
  float: left;
  //margin: -20px 0;
  margin-left: rem(30px);
}

.widgets__socials .socials__svg {
  fill: #fff;
  &:hover {
    fill: #004cd1;
  }
}

.widgets__menu {
  float: right;
  margin-right: rem(30px);
}

.header__widgets {
  margin-top: rem(28px);
}

.stars__svg,
.photo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  //top: 150px;
}

.stars__svg {
  fill: #fff;
  opacity: .07;
  width: rem(450px);
  height: rem(450px);
  margin-top: rem(-140px);
}

.photo {
  width: $rounded-image-wh;
  margin: auto;
  top: rem(150px);
}

.header__title {
  text-align: center;
  color: #fff;
  position: absolute;
  top: rem(320px);
  left: 50%;
  transform: translateX(-50%);
}

.header__title .title__name {
  font: 28pt/1 'Roboto Regular';
}

.header__title .title__comment {
  font: 14pt/1.5 'Roboto Light';
}

.header {
  position: relative;
  margin-bottom: rem(-330px);
  z-index: -1;
  min-height: calc(100vh + 13.125rem);//210px
  .header__background {
    height: 100%;
  }
  .background__img {
    height: 100%;
  }
}

/*footer*/

.wrapper {
  margin-bottom: rem(-$footer-height-pages);
}

