
.header__content,
.header__background {
  position: absolute;
  top: 0;
  width: 100%;
}

.header__background .background__img{
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.widgets__socials {
  float: left;
  margin: -20px 0;
  margin-left: 30px;
}

.widgets__socials .socials__svg {
  fill: #fff;
  &:hover {
    fill: #004cd1;
  }
}

.widgets__menu {
  margin: -60px 0;
  float: right;
  margin-right: 30px;
}

.header__widgets {
  margin-top: 28px;
}

.stars__svg,
.photo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  //top: 150px;
}

.stars__svg {
  fill: #fff;
  opacity: .07;
  width: 450px;
  height: 450px;
  margin-top: -140px;
}

.photo {
  width: $rounded-image-wh;
  margin: auto;
  top: 23vh; //150px
}

.header__title {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 49vh; //320px
  left: 50%;
  transform: translateX(-50%);
}

.header__title .title__name {
  font: 28pt/1 'Roboto Regular';
}

.header__title .title__comment {
  font: 14pt/1.4 'Roboto Light';
}

.pointer {
  position: absolute;
  z-index: 1;
  top: 72vh; //470px
  left: 50%;
  transform: translateX(-50%);
}

.pointer .arrow-down__svg {
  cursor: pointer;
  width: 20px;
  height: 20px;
  fill: rgba(#fff, .7);
  &:hover {
    fill: rgba(#fff, 1);
  }
}

.header {
  min-height: 100vh;
  position: relative;
  margin-bottom: -200px;
  z-index: -1;
}

/*footer*/

.wrapper {
  //height: 100%;
  margin-bottom: -$footer-height-pages;
}

.wrapper:after {
  //content: '';
  //display: block;
  //height: $footer-height-pages;
}
