.linked-form {
  width: $welcome-box-width;
  background-color: rgba(28, 31, 41, .5);
  display: flex;
  flex-direction: column;
}

.linked-form__title {
  max-width: rem(400px);
  margin: auto;
  margin: rem(35px) 0 rem(30px) 0;
  font: rem(34px) 'Sansus Regular';
  color: #fff;
}

.linked-form__title:after {
  margin-top: rem(22px);
  width: 10%;
}

.linked-form .input,
             .textarea {
  background-color: rgba(#fff, .07);
  font: rem(16px) 'Roboto Regular';
  color: rgba(#fff, .5);
  border: none;
  outline:none;
}

.linked-form .input {
  margin: 0 rem(23px) rem(23px) rem(23px);
  height: rem(44px);
  padding: 0 rem(17px);
  &:first-child {
    margin-top: rem(10px);
  }
}

.linked-form .textarea {
  height: rem(120px);
  margin: 0 rem(23px) rem(23px) rem(23px);
  resize: none;
  padding: rem(7.5px) rem(17px);
}

/*buttons*/

.buttons-panel {
  display: flex;
  margin-bottom: 0;
  flex-direction: row;
}

.buttons-panel__item {
  flex: 1;
  padding: rem(15px) 0;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: $button-color;
  &:hover{
    background-color: $button-hover-color;
  }
}

.bottom-form--works .buttons-panel__item:last-child {
  color: rgba(#fff, .5);
  background-color: rgba($button-color, 0);
  &:hover{
    background-color: $button-hover-color;
  }

}

/*tooltips*/

.qtip-tipsy--custom{
  font: rem(16px) 'Roboto Light';
  background-color: $button-color;
  text-shadow: none;
}

