.welcome-box--back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(#231c29, .5);
  .bottom-menu {
    flex: 0 0 auto;
  }
}

.log-in-form__wrapper {
  display: flex;
  flex-direction: column;
}

.log-in-form {
  width: 100%;
  margin-bottom: -20px;
}

.welcome-box--back .welcome-box__name {
  margin: rem(36px) 0;
  display: flex;
  align-items: center;
  font: rem(36px) 'Sansus Regular';
}

.log-in__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: rem(40px);
}

.log-in-logo__svg {
  width: rem(16px);
  height: rem(16px);
  fill: #c4cbcd;
}

.log-in--field {
  max-width: 340px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: rem(48px);
  margin-bottom: rem(20px);
}

.log-in__input {
  height: 100%;
  width: rem(260px);
  border: none;
  padding: 0 rem(16px);
  font: rem(16px) 'Roboto Regular';
  color: #373e42;
  outline:none;
}

.log-in-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: rem(48px);
  background: #f0efe9;
}

.capcha__answer,
.capcha__question {
  font: rem(16px) 'Roboto Medium';
  color: #fff;
}

.capcha__answer {
  display: flex;
  align-items: center;
}

.log-in__capcha {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-bottom: rem(40px);
}

.capcha__robot {
  display: flex;
  margin-bottom: rem(20px);
  justify-content: center;
}

.capcha__robot-repeat {
  display: flex;
  flex-direction: column;
  .capcha__answers {
    display: flex;
  }
  .answers {
    display: flex;
  }
}

.capcha__question {
  text-align: center;
  margin-bottom: rem(10px);
}

.capcha__chekbox,
.answers__radio {
  display: none;
}

.capcha__answer:before {
    margin-right: rem(5px);
    display: inline-block;
    font: rem(14px) 'FontAwesome';
    transition: all .15s;
}

.capcha__answer--chekbox:before {
  content: '';
  height: rem(20px);
  width: rem(20px);
  outline: 1px solid #fff;
  cursor: pointer;
  margin-right: rem(10px);
}

.capcha__chekbox:checked + .capcha__answer--chekbox:before{
  content: '\f00c';
  outline: none;
  background-color: #0548be;
  color: #fff;
  padding-left: rem(3px);
  line-height: rem(20px);
  width: rem(17px);
}

.capcha__answer--radio:before {
  content: '';
  height: rem(20px);
  width: rem(20px);
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  margin-right: rem(10px);
  margin-left: rem(42px);
}

.capcha__answer--yes:before {
  margin-left: 0;
}

.answers__radio:checked + .capcha__answer--radio:before{
  content: '';
  background-color: #0548be;
  box-shadow: inset 0px 0px 0px 5px #fff;
}

.bottom-form--log-in .buttons-panel__item:last-child {
  border-left: 2px solid #7195d2;
}

.bottom-form--log-in .buttons-panel__item{
  background-color: #0548be;
  &:hover {
    background-color: #083c96;
  }
}

.bottom-form--log-in .buttons-panel__item--send[disable=true] {
  color: rgba(#fff, .5);
  background-color: #0548be;
}

.bottom-form--log-in .buttons-panel__item--send[disable=false] {
  color: #fff;
  background-color: $button-color;
  &:hover {
    background-color: $button-hover-color;
  }
}
