.back {
  width: 380px;
  //background-color: rgba(28, 31, 41, .5);
}

.log-in-form {
  display: block;
}

.input__name, .input__pass {
  display: inline-block;
  width: auto;
  margin: 0 15px;
}

.log-in__svg {
  width: 16px;
}

.log-in__svg {
  background-color: #9c0033;
  margin: -70px 0;
}

.svg__icon {
}


