
/*hamburger-menu*/

//.menu__link .svg__title{
//  text-indent: -99999px;
//}
//
//.menu__link .menu__svg--humburger {
//  width: rem(40px);
//  fill: #fff;
//  &:hover {
//    fill: $button-hover-color;
//  }
//}
.menu-hamburger {
  display: inline-block;
  position: relative;
  z-index: 4;
  cursor: pointer;
  &:hover .menu-hamburger__item{
    background-color: #004cd1;
  }
}
.menu-hamburger__item:nth-child(n) {
  width: rem(40px);
  height: rem(5px);
  background: #fff;
  margin-bottom: rem(8px);
  border-radius: rem(10px);
}
#menu-hamburger__item--line-first {
  transform-origin: 100% 0;
}
#menu-hamburger__item--line-third {
  transform-origin: 100% 100%;
}
.menu-hamburger__item:last-child {
  margin-bottom: 0;
}

/*menu page*/

.main-menu-box {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  z-index: 4;
}

.main-menu-box__left,
.main-menu-box__right {
  width: 50vw;
  height: 100%;
  background-color: rgba(#183669, .85);
  position: relative;
}

.main-menu-box__left {
  left: -100%;
}

.main-menu-box__right {
  right: -100%;
}

.main-menu-box__content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .main-menu__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-menu__item {
    margin-bottom: rem(25px);
  }
  .main-menu__item:last-child {
    margin-bottom: 0;
  }
  .main-menu__link {
    font: rem(63px) 'Sansus Regular';
    opacity: 0;
    color: #fff;
    text-decoration: none;
    user-select: none;
    transition: 3s;
    &:after{
      content: '';
      height: rem(3px);
      display: block;
      width: 20%;
      min-width: rem(30px);
      margin: auto;
      margin-top: rem(15px);
      padding: 0 rem(20px);
      user-select: none;
      transition: 2s;
    }
    &:hover:after {
      background-color: #fff;
    }
  }
}