$title-color: #373e42;
/*animation*/

.skill-circle--back {
  stroke: #dfdcd5;
}

circle {
  transition: 1s stroke-dasharray;
  stroke-width: rem(15px);
}

.inner-text {
  dominant-baseline: central;
  text-anchor: middle;
  font: 9.5pt 'Roboto Medium';
}

.skill-circle {
  stroke: #658dd3;
  transform-origin: 50%;
  transform: rotate(-90deg);
}

@-webkit-keyframes loading-circle {
  from {
    stroke-dasharray: 0 251.2;
  }
  to {
    stroke-dasharray: 70 251.2;
  }
}

  /*position*/

.frontend-skill,
.backend-skill,
.workflow-skill {
  display: flex;
  flex-direction: column;
  .widget-title {
    font: rem(28px) 'Roboto Medium';
    color: $title-color;
    margin: 30px 0 0 rem(45px);
    @include tablets {
      margin-bottom: rem(20px);
      margin-left: 0;
    }
  }
  .widget-title--frontend {
    margin-top: 0;
  }
  .diagrams {
    margin-left: rem(40px);
    margin-top: rem(10px);
    @include phones {
      text-align: center;
      margin-left: 0;
    }
  }
  .diagrams .skill-svg {
    width: rem(120px);
    height: rem(120px);
    padding-right: rem(17px);
  }
}
.widget-title--frontend .widget-title {
  margin-top: rem(35px);
}

