$title-color: #373e42;
/*animation*/

.skill-circle--back {
  stroke: #dfdcd5;
}

circle {
  transition: 1s stroke-dasharray;
  stroke-width: rem(15px);
}

.inner-text {
  dominant-baseline: central;
  text-anchor: middle;
  font: 9.5pt 'Roboto Medium';
}

.skill-circle {
  animation: loading-circle 3s;
  stroke: #658dd3;
  transform-origin: 50%;
  transform: rotate(-90deg);
  stroke-dasharray: 70 251.2;
}

@-webkit-keyframes loading-circle {
  from {
    stroke-dasharray: 0 251.2;
  }
  to {
    stroke-dasharray: 70 251.2;
  }
}

.skill-svg {
}

  /*position*/

.frontend-skill,
.backend-skill,
.workflow-skill {
  display: flex;
  flex-direction: column;
  .widget-title {
    font: rem(28px) 'Roboto Medium';
    color: $title-color;
    margin: rem(30px) 0 0 rem(45px);
  }
  .diagrams {
    margin-left: rem(40px);
  }
  .diagrams .skill-svg {
    width: rem(115px);
    height: rem(115px);
    padding-right: rem(17px);
  }
}

