
/*socials*/

.socials {
  padding: 0;
  margin: 0;
}

.socials__item {
  display:inline-block;
  list-style: none;
  margin-left: rem(27px);
}

.socials__item:first-child {
  margin-left: 0;
}

.socials__svg--vk {
  width: rem(30px);
}

.socials__svg--github {
  width: rem(26px);
}

.socials__svg--in {
  width: rem(24px);
}

.socials__svg {
  fill: #004cd1;
  height: rem(28px);
}

.socials .svg__title{
  text-indent: -99999px;
}

