<? require_once '../app/init.php'; ?>
doctype html
html(lang="ru-RU")
  include ../../common/_head
  body.body--admin
    include ../../common/_mixins
    .wrapper--admin
      block header
      block article
