extends ../page

block header
  header.header
    include ../common/header_box
    .header__title
      h1.title__name Мария Гущина
      h2.title__comment Личный сайт веб-разработчика

block article
  article.article
    a.smooth-scroll.pointer(href="#about-me")
      svg.arrow-down__svg(preserveAspectRatio="xMinYMin meet")
        use.svg__icon(xlink:href="assets/img/sprite/img.svg#arrow_down")
    .about-me
      .under-header__triangles.under-header__triangles--about
        .triangles__left
        .triangles__right
      .about-me.about-me--container#about-me
        .about-me__description
          .description__title
            + setStarsBackgroundTitle("Обо мне", "assets/img/sprite/img.svg#stars2_blue")
          .description__content
            img.description__img(src="/assets/img/welcome-face.jpg", alt="Фото Гущиной Марии")
            .description__sub-title
              + setUnderlinedTitle("Кто я", "who-i-am")
            .description__text
              .text__data
                p.data-first.
                  Я веб разработчик из Королёва, МО. Мне 22 года.
                  Я занимаюсь разработкой современных сайтов.
                  Мне нравится делать интересные
                  и современные проекты.
                p.data-second.
                  Этот сайт я сделала в рамках обучения в
                  Школе онлайн образования LoftSchool.
                  Чуть позже я освежу в нём свой контент.
                  А пока посмотрите, как тут всё классно и красиво!
        .about-me__skills
          .skills__title
            + setUnderlinedTitle("Чем я могу быть вам полезна", "benefit")
            //h3.text.linked-title Чем я могу быть <br> вам полезна
            p.description.
              Больше всего меня привлекет Frontend разработка,
              но я также знаком и могу решать не сложные задачи
              на Backend. Но давайте по порядку.
          .skills__widget
            include ../common/skilles_widget
    .map
      .map__contacts
        + setUnderlinedTitle("Контакты", "contacts__title")
        .contacts
          ul.contacts__list

            li.contacts__item

              .item__link.item__link--skype
                svg.link__svg(preserveAspectRatio="xMinYMin meet", viewBox="2 2 45 45")
                  use.svg__icon(xlink:href="assets/img/sprite/img.svg#skype_n", x="0", y="0")
                a.link(href="#") betrayal-mmm

              .item__link.item__link--mail
                svg.link__svg(preserveAspectRatio="xMinYMin meet", viewBox="0 0 45 45")
                  use.svg__icon(xlink:href="assets/img/sprite/img.svg#envelope_n", x="0", y="0")
                a.link(href="#") m.o.gushchina@gmail.com

            li.contacts__item.contacts__item--last

              .item__link.item__link--phone
                svg.link__svg(preserveAspectRatio="xMinYMin meet", viewBox="0 0 45 45")
                  use.svg__icon(xlink:href="assets/img/sprite/img.svg#phone_n", x="0", y="0")
                a.link(href="#") +7 962 961 78 37

              .item__link.item__link--adress
                svg.link__svg(preserveAspectRatio="xMinYMin meet", viewBox="0 0 609.563 609.563")
                  use.svg__icon(xlink:href="assets/img/sprite/img.svg#map_n", x="0", y="0")
                a.link(href="#") Королёв, ул. Строителей, д. 17

      .map__google-map#google-map
        include ../common/google-map



