extends ../page

block article
  .article
    .container
      .about-me
        h2.about-me__title ОБО МНЕ
        img.about_me__img(src="/assets/img/welcome-face.jpg", alt="Фото Гущиной Марии")
        .about-me__sub-title
          + setLinedTitle("КТО Я")
        p.about-me__text.
          Я такая такая такая
          Занимаюсь тем-то тем-то тем-то
          Помогу вам с тем-то тем-то тем-то
          Умею много
      .skills
        .about-me__sub-title
          + setLinedTitle("ЧЕМ Я МОГУ БЫТЬ ВАМ ПОЛЕЗЕН")
        .skilles-widget
          include ../common/skilles_widget
      .my-contacts
        .my-contacts__google-map
        .my-contacts__contact-box
          + setLinedTitle("КОНТАКТЫ", "contact-box__title")
          include ../common/contacts_box

block header__title
  .header__title
    .title__name Мария Гущина
    .title__comment Личный сайт
  .pointer

