<? if (Controller::is_guest()): ?>
<? header('Location: /welcome'); ?>
<? exit(); ?>
<? endif; ?>

doctype html
html(lang="ru-RU")
  include ../common/_head
  body.body--admin
    include ../common/_mixins
    .wrapper--admin ADMIN PAGE
      <?= $users[0]['login']; ?>
      <? if (!empty($users)): ?>
      <? foreach($users as $user): ?>
      <?= $user['name']; ?>
      <? endforeach; ?>
      <? endif; ?>
      <?= $_SESSION['login']; ?><br>
      a.buttion-exit(href="logout") Выйти
      block header
      block article
