<? if (Controller::is_guest()): ?>
<?$host = 'http://'.$_SERVER['HTTP_HOST'].'/';?>
<?header('Location:'.$host.'welcome');?>
<? exit(); ?>
<? endif; ?>

doctype html
html(lang="ru-RU")
  include ../common/_head
  body.body--admin
    include ../common/_mixins
    .modal-window
      .modal-window__message sdsasdas
      .modal-window__button
        a.button__close(href="#") Закрыть
    .wrapper--admin
      header.header-admin
        .header-admin__title Панель администрирования
        a.header-admin__buttion-exit(href="admin/logout") Вернуться на сайт
      .pages
        nav.tabs-navigation
          ul.tabs-navigation__list
            li.tabs-navigation__item.tabs-navigation__item--active
              a.tabs-navigation__link(href="admin", data-page="works") Мои работы
            li.tabs-navigation__item
              a.tabs-navigation__link(href="admin", data-page="about") Обо мне
            li.tabs-navigation__item
              a.tabs-navigation__link(href="admin", data-page="blog") Блог
        .edit