extends ../page

block header__title
  .header__title.header__title--blog
    .title__name БЛОГ
    .title__content Статьи, которые я написала

block article
  article.article
    .about-me.about-me--blog
      .about-me__triangles
        svg.about-bg-left__svg(preserveAspectRatio="xMinYMin slice", viewBox="0 0 900.331 1014")
          use.svg__icon(xlink:href="assets/img/sprite/img.svg#about_bg_left", x="0", y="0")
        svg.about-bg-right__svg(preserveAspectRatio="xMinYMin slice", viewBox="0 5 900.331 1027")
          use.svg__icon(xlink:href="assets/img/sprite/img.svg#about_bg_right")
      .blog-articles
        aside.blog-articles__sidebar
            nav.sidebar__articles
              ul.articles__list
                li.articles__item
                  a.articles__link(href="#") Полезные плагины Gulp
                li.articles__item.articles__item--active
                  a.articles__link(href="#") Про SVG-анимацию
                li.articles__item
                  a.articles__link(href="#") Если Вы только узнали про Git
        .blog-articles__content
          h3.content__title Про SVG-анимацию
          .content__date 19 июня 2016
          .content__text
            p.text__paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            p.text__paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.