doctype html
html
  include ../common/_head
  body.body
    include ../common/_mixins
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
    <![endif]-->
    .wrapper-welcome
      video.background-welcome__video(autoplay, loop,  poster="./assets/img/background-night.jpg")
        source.video__source(src="./assets/img/night.mp4", type="video/mp4")
      img.background-welcome__img(src="./assets/img/night_mountains.png", alt="Горы")
      header.header-welcome
        .authorisation-button
          a.authorisation-button__link(href="#") Авторизоваться
      .flip-container
        .flipper#flipper
          .welcome-box.welcome-box--front
            .welcome-box__image
              + setRoudedImage("/assets/img/welcome-face.jpg", "Фото Гущиной Марии")
            h3.welcome-box__name Мария Гущина
            h4.welcome-box__comment Личный сайт веб-разработчика
            .welcome-box__socials
              include ../common/socials_widget
            -
              var items = {
                  "Мои работы": "works.html",
                  "Обо мне"   : "about.html",
                  "Блог"      : "blog.html"
              }
            //.bottom-menu
            + setList(items, "bottom-menu")
          .welcome-box.welcome-box--back
            include ../common/log-in_widget
    footer.footer-welcome
      p.copyrigth © Мария Гущина | создано с любовью в LoftSchool | 2016