doctype html
html
  include ../common/_head
  body.body
    include ../common/_mixins
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
    <![endif]-->
    .wrapper
      header.header
        .log-in-button
          a.log-in-button__link(href="#") Авторизоваться
      .welcome-box.flip-container
        .welcome-box__flipper.flipper
          .welcome-box.front
            .welcome-box__item
              + setRoudedImage("/assets/img/welcome-face.jpg", "Фото Гущиной Марии")
              h3.welcome-box__name Мария Гущина
              h4.welcome-box__site Личный сайт веб разработчика
              .welcome-box__socials
              include ../common/socials_widget
              -
                var items = {
                    "Мои работы": "pages/works.html",
                    "Обо мне"   : "pages/about.html",
                    "Блог"      : "pages/blog.html"
                }
              + setList(items, "welcome-box-menu")
              include ../common/log-in_widget
    footer.footer-welcome © Мария Гущина | создано с любовью в LoftSchool | 2016