doctype html
html
  include ../common/_head
  body.body
    include ../common/_mixins
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
    <![endif]-->
    .wrapper-welcome
      include ../common/preloader_box
      video.background-welcome__video(autoplay, loop,  poster="./assets/img/background-night.jpg")
        source.video__source(src="./assets/img/night.mp4", type="video/mp4")
      .background-welcome__img
      header.header-welcome
        .authorisation-button
          a.authorisation-button__link(href="#") Авторизоваться
      .flip-container
        .flipper#flipper
          .welcome-box.welcome-box--front
            .welcome-box__image
              + setRoundedImage("./assets/img/welcome-face.jpg", "Фото Гущиной Марии")
            h1.welcome-box__name Мария Гущина
            h2.welcome-box__comment Личный сайт веб-разработчика
            .welcome-box__socials
              include ../common/socials_widget
            -
              var items = {
                  "Мои работы": "works.html",
                  "Обо мне"   : "about.html",
                  "Блог"      : "blog.html"
              }
            + setList(items, "bottom-menu")
          .welcome-box.welcome-box--back
            include ../common/log-in_widget
    footer.footer-welcome
      p.copyrigth <span>© Мария Гущина</span> <span class="display-none">|</span> <span>создано с любовью в LoftSchool | 2016</span>