extends ../page

block header-bottom
  .header-bottom
    svg.bg__svg(preserveAspectRatio="xMaxYMax meet", viewBox="0 0 2032 360.368")
      use.svg__icon(xlink:href="assets/img/sprite/img.svg#bg")

block header__title
  .header__title
    .title__name Мария Гущина
    .title__comment Личный сайт веб-разработчика

block article
  .article
    .title.header-article
      h1.title__text Мои работы


    include ../common/exaples-works_widget
    .opinions
      .opinions__background
        img.lighthouse(src="/assets/img/lighthouse.jpg")
      .title.header-opinions
        h1.title__text
          |Что обо мне <br> говорят
        svg.title__svg.title__svg--opinions(preserveAspectRatio="xMaxYMax meet", viewBox="0 0 103.03 124.03")
          use.svg__icon(xlink:href="assets/img/sprite/img.svg#stars3")
      .opinions__comments
        .comments__dima
          .dima__photo
            + setRoudedImage("/assets/img/photo-dima.png", "Фото Димы")
          blockquote.blockquote.dima__blockquote.
            Эта девушка проходила обучение веб-разработке не
            где-то, а в LoftSchool. 2 месяца только самых
            тяжёлых испытаний и бессоных ночей!
          .dima__signature.signature <b>Ковльчук Дмитрий</b><br>- основатель LoftSchool
        .comments__zar
          .zar__photo
            + setRoudedImage("/assets/img/photo-zar.png", "Фото Зара")
          blockquote.blockquote.zar__blockquote.
            Этот код выдерживает любые испытания. Только,
            пожалуйста, не загружайте сайт на слишком
            старых браузерах!
          .zar__signature.signature <b>Зар Захаров</b><br>- главный преподаватель
      .linked-box
        include ../common/linked_widget
      .pointer-bottom
        svg.arrow-down__svg(preserveAspectRatio="xMaxYMax meet", viewBox="0 0 25.18 16.164")
          use.svg__icon(xlink:href="assets/img/sprite/img.svg#arrow_down")
