extends ../page

block header
  header.header.header--works#header-works
    include ../common/header_box
    .header__title
      .title__name Мария Гущина
      .title__comment Личный сайт веб-разработчика

block article
  article.article.article--works
    a.pointer(href="#my-works")
      svg.arrow-down__svg(preserveAspectRatio="xMinYMin meet")
        use.svg__icon(xlink:href="assets/img/sprite/img.svg#arrow_down")
    .under-header__triangles.under-header__triangles--works
      .triangles__left
      .triangles__right
    .title.header-article#my-works
      h1.title__text Мои работы
      svg.title__svg(preserveAspectRatio="xMaxYMax meet", viewBox="0 0 171.5 132.5")
        use.svg__icon(xlink:href="assets/img/sprite/img.svg#stars2")

    include ../common/examples-works_widget
    .opinions
      .opinions__background
        .lighthouse(alt="Фото маяка")
      .title.header-opinions
        h1.title__text
          |Что обо мне <br> говорят
        svg.title__svg.title__svg--opinions(preserveAspectRatio="xMaxYMax meet", viewBox="0 0 103.03 124.03")
          use.svg__icon(xlink:href="assets/img/sprite/img.svg#stars3")
      .opinions__comments
        .comments__dima
          .dima__photo
            + setRoudedImage("/assets/img/photo-dima.png", "Ковльчук Дмитрий")
          blockquote.blockquote.dima__blockquote.
            Эта девушка проходила обучение веб-разработке не
            где-то, а в LoftSchool. 2 месяца только самых
            тяжёлых испытаний и бессоных ночей!
          .dima__signature.signature <b>Ковльчук Дмитрий</b><br>- основатель LoftSchool
        .comments__zar
          .zar__photo
            + setRoudedImage("/assets/img/photo-zar.png", "Зар Захаров")
          blockquote.blockquote.zar__blockquote.
            Этот код выдерживает любые испытания. Только,
            пожалуйста, не загружайте сайт на слишком
            старых браузерах!
          .zar__signature.signature <b>Зар Захаров</b><br>- главный преподаватель
      .linked-box
        include ../common/linked_widget
      a.pointer-bottom(href="#header-works")
        svg.arrow-down__svg(preserveAspectRatio="xMaxYMax meet", viewBox="0 0 25.18 16.164")
          use.svg__icon(xlink:href="assets/img/sprite/img.svg#arrow_down")
